.header {
    grid-area: header;
    background-color: var(--main-bg-color);
}

.header_container {
    display: grid;
    align-self: center;
    grid-template-areas: 
    "imglogo . . menu loader .";
  
  
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
  
}

/* .styles.header_container_login {
  grid-area: login;
} */