.home {
  grid-area: main;
  background-color: var(--main-bg-color);
}

.home_container {
  display: grid;
  justify-self: center; 
  align-self: center;
  grid-template-areas: 
  "home"
  "search"
  "auth";

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

}
