.menu {
    grid-area: menu;
}
    
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 236px;
}

.nav button {
    color: var(--main-color-2);
}

@media screen and (max-width: 1439px) {
    .nav {
        display: none;
    }
}
